.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  color: #333;
}

.selectContainer {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.table-wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.tableHeader {
  background-color: #3498db;
  color: #fff;
}

.tableRow {
  background-color: #f2f2f2;
}

.odd {
  background-color: #e6e6e6;
}

.tableData {
  color: #333;
}
